@font-face
  font-family: "Open Sans"
  src: url(../fonts/OpenSans-Regular.ttf)

@font-face
  font-family: "Open Sans Light"
  src: url(../fonts/OpenSans-Light.ttf)

@font-face
  font-family: "Open Sans Bold"
  src: url(../fonts/OpenSans-Bold.ttf)

@font-face
  font-family: "Open Sans Semibold"
  src: url(../fonts/OpenSans-Semibold.ttf)

$font-size: 14

$color-light: #fff
$color-text: #000
$color-highlight: #ff002a
$color-titles: #00a7e3
$color-dark-titles: #387fc5
$color-attention: #ff002a
$color-light-attention: #f86a63

body
  font-family: "Open Sans"
  font-size: $font-size * 1px
  padding-top: 134px
  min-width: 980px
  position: relative

/* common styles */
input:focus
  outline: none
  box-shadow: none

.container
  width: 980px

.-color-headers
  color: $color-titles

.-color-dark-headers
  color: $color-dark-titles

.-color-light-attention
  color: $color-light-attention

.-color-attention
  color: $color-attention

.-color-white
  color: $color-light

.ar-button
  display: inline-block
  font-size: 17 / $font-size * 1em
  line-height: 1em
  color: $color-light
  background: $color-highlight
  padding: 0 5px
  position: relative
  vertical-align: middle
  line-height: 32px
  min-width: 100px
  text-align: center
  .-corn-top, .-corn-bottom
    display: block
    width: 100%
    height: 1px
    background: none
    position: absolute
    left: 0
    transition: all 0.2s
    &:after, &:before
      content: ''
      width: 10px
      height: 10px
      border: 1px solid rgba($color-light, 0.45)
      opacity: 0
      position: absolute
      transition: all 0.2s
      display: none
    &:after
      top: 0
      right: 0
    &:before
      top: 0
      left: 0
  .-corn-bottom
    &:after
      top: -9px
      right: 0
    &:before
      top: -9px
      left: 0
  &:hover
    text-decoration: none
    color: $color-light
    .-corn-top, .-corn-bottom
      background: rgba($color-light, 0.45)
      &:after, &:before
        display: block
        opacity: 1
    .-corn-top
      top: -10px
      &:after
        right: -10px
        border-bottom: none
        border-left: none
      &:before
        left: -10px
        border-bottom: none
        border-right: none
    .-corn-bottom
      bottom: -10px
      &:after
        right: -10px
        border-top: none
        border-left: none
      &:before
        left: -10px
        border-top: none
        border-right: none
  &.dark-line:hover
    .-corn-top, .-corn-bottom
      background: rgba($color-text, 0.2)
      &:after, &:before
        border: 1px solid rgba($color-text, 0.2)
    .-corn-top
      top: -10px
      &:after
        right: -10px
        border-bottom: none
        border-left: none
      &:before
        left: -10px
        border-bottom: none
        border-right: none
    .-corn-bottom
      bottom: -10px
      &:after
        right: -10px
        border-top: none
        border-left: none
      &:before
        left: -10px
        border-top: none
        border-right: none

.ar-phone
  .-item
    font-family: "Open Sans Bold"
    color: rgba($color-light, 0.77)
    font-size: 30 / $font-size * 1em
    line-height: 1
    display: inline-block
    position: relative
    &:after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: -3px
      width: 100%
      height: 1px
      background: rgba($color-light, 0.30)
    span
      font-family: "Open Sans Light"
  p
    color: rgba($color-light, 0.77)
    font-size: 13 / $font-size * 1em
    line-height: 30 / 13 * 1em

.ar-get-call-form
  padding: 0 30px 50px
  &.-bordered
    border: 1px solid $color-titles
    border-top: none
  &.-backgrounded
    border: none
    background: rgba(145, 185, 226, 0.8)
    padding: 35px 30px
  .title-wrap
    margin: 0 -30px 20px
    position: relative
    top: -28px
    .-title
      font-size: 36 / $font-size * 1em
      line-height: 50 / 36 * 1em
      font-family: "Open Sans Bold"
      display: table
      width: 100%
      text-transform: uppercase
      & > div
        display: table-cell
        vertical-align: middle
      ._border
        width: 50%
        .item
          display: inline-block
          width: 100%
          height: 1px
          background: $color-titles
          line-height: 50px
          vertical-align: middle
      ._text
        white-space: nowrap
        padding: 0 35px
        span
          color: $color-attention
  .ar-inline-form
    border: 1px solid #929292
    display: inline-block
    padding: 5px
    background: $color-light
    width: 740px
    margin-right: 40px
    input
      display: inline-block
      line-height: 20px
      border: none
      height: 20px
      vertical-align: middle
      width: 33%
      margin: 0 -2px
      &.form-name
        padding-left: 30px
        background: url(../img/ico-smile.png) 10px center no-repeat
      &.form-phone
        padding-left: 25px
        background: url(../img/ico-phone.png) 10px center no-repeat
      &.form-mail
        padding-left: 35px
        background: url(../img/ico-mail.png) 10px center no-repeat
    .separate
      width: 1px
      height: 20px
      background: #929292
      display: inline-block
      line-height: 20px
      vertical-align: middle
  .-attention
    font-size: 24 / $font-size * 1em
    line-height: 33 / 24 * 1em
    font-family: "Open Sans Semibold"
    margin-bottom: 35px

.ar-screen
  padding: 85px 0
  position: relative
  border-bottom: 2px solid $color-titles
  &.ar-without-arrow
    &:after, &:before
      display: none
  &:after, &:before
    content: ''
    display: block
    width: 0
    height: 0
    position: absolute
    top: 100%
    left: 50%
    z-index: 1
  &:before
    border-top: 25px solid $color-titles
    border-left: 45px solid transparent
    border-right: 45px solid transparent
    margin-left: -45px
  &:after
    border-top: 21px solid #fff
    border-left: 41px solid transparent
    border-right: 41px solid transparent
    margin-left: -41px
  &.-paralax
    background: #000 url(../img/bilet-bg.jpg) top no-repeat fixed
    position: relative
    padding-bottom: 125px
    border-bottom: none
    .overlay
      position: absolute
      width: 100%
      height: 100%
      background: url(../img/pattern.png)
      top: 0
      left: 0
      z-index: 0
    .arrow
      position: absolute
      width: 100%
      height: 39px
      left: 0
      bottom: -1px
      z-index: 1
      background: url(../img/paralax-arrow.png) center center no-repeat
  .-feeds
    background: url(../img/bg-feeds.jpg) center center no-repeat
    height: 867px
    margin-bottom: -85px
  &.-count-gays
    background: url(../img/bg-count.jpg) center center no-repeat
    p
      font-size: 26 / $font-size * 1em
      line-height: 40 / 26 * 1em
      &.-text-big
        font-size: 36 / $font-size * 1em
        line-height: 50 / 36 * 1em
        font-family: "Open Sans Bold"
        span
          font-size: 50 / 36 * 1em
    h3
      font-size: 59 / $font-size * 1em
      line-height: 50 / 59 * 1em
      font-family: "Open Sans Bold"
      margin: 0 0 50px
      display: inline-block
      position: relative
      padding: 0 20px
      &:after, &:before
        content: ''
        display: block
        width: 80px
        height: 2px
        position: absolute
        top: 60%
        margin-top: -1px
        background: $color-attention
      &:after
        left: 100%
      &:before
        right: 100%
  &.-map
    padding: 0
    position: relative
    iframe
      width: 100%
  .video
    margin-bottom: 40px

.ar-screen-title
  font-size: 36 / $font-size * 1em
  line-height: 50 / 36 * 1em
  color: $color-titles
  font-family: "Open Sans Bold"
  text-transform: uppercase
  margin: 0 0 60px
  display: inline-block
  position: relative
  padding: 0 20px
  &.-with-line
    &:after, &:before
      content: ''
      display: block
      width: 80px
      height: 2px
      position: absolute
      top: 50%
      margin-top: -1px
      background: $color-titles
    &:after
      left: 100%
    &:before
      right: 100%

.ar-works-item
  .caption
    width: 100%
    background: url(../img/work-arrow.png) center center no-repeat
    height: 74px
    font-family: "Open Sans Semibold"
    font-size: 17 / $font-size * 1em
    line-height: 18 / 17 * 1em
    color: $color-titles
    margin-top: 30px
    td
      padding: 0 20px

.ar-feeds-owner
  position: relative
  & > div
    position: absolute
    overflow: hidden
    .-text
      position: absolute
      left: 0
      margin-top: -47px !important
      width: 100%
      background: rgba(0, 0, 0, 0.7)
      color: $color-light
      padding: 12px 15px 15px
      transition: all 0.3s
      z-index: 2
      ._header
        border-bottom: 2px solid $color-titles
        table
          width: 100%
          font-size: 18 / $font-size * 1em
          margin-bottom: 10px
          .city
            color: $color-titles
      ._content
        margin: 15px 0 10px 5px
        border-left: 2px solid $color-titles
        padding-left: 10px
        p
          font-size: 12 / $font-size * 1em
          &.data
            font-size: 13 / 12 * 1em
            margin-bottom: 5px
    .-overlay
      width: 100%
      height: 100%
      position: absolute
      background: rgba(0, 0, 0, 0.45)
      top: 0
      left: 0
      z-index: 0
      opacity: 0
      transition: opacity 0.2s 0.2s
    &:hover
      .-overlay
        opacity: 1
  .-feed-item-1
    width: 281px
    height: 280px
    left: 0
    top: 0
  .-feed-item-2
    width: 282px
    height: 237px
    left: 0
    top: 280px
  .-feed-item-3
    width: 282px
    height: 350px
    left: 0
    top: 517px
  .-feed-item-4
    width: 351px
    height: 349px
    left: 281px
    top: 0
  .-feed-item-5
    width: 351px
    height: 239px
    left: 282px
    top: 349px
  .-feed-item-6
    width: 258px
    height: 279px
    left: 282px
    top: 588px
  .-feed-item-7
    width: 318px
    height: 319px
    left: 632px
    top: 0
  .-feed-item-8
    width: 318px
    height: 269px
    left: 632px
    top: 319px
  .-feed-item-9
    width: 410px
    height: 279px
    left: 540px
    top: 588px

.ar-are-you-know
  .-lable
    font-size: 86 / $font-size * 1em
    font-family: "Open Sans Bold"
    span
      font-size: 36 / 86 * 1em
  .-caption
    font-size: 22 / $font-size * 1em
    color: lighten($color-text, 25%)
    font-family: "Open Sans Light"
    padding: 0 20px
    text-align: center

.ar-feleals
  width: 926px
  height: 533px
  background: url(../img/rus-map.png) center center no-repeat
  position: relative
  margin: 0 auto
  .ar-point-list
    -webkit-column-count: 3
    -moz-column-count: 3
    column-count: 3
    width: 500px
    & > li
      & > a
        display: inline-block
        padding-left: 10px
        position: relative
        color: #505050
        font-size: 16 / $font-size * 1em
        &:after
          content: ''
          display: block
          width: 4px
          height: 4px
          background: #505050
          border-radius: 50%
          position: absolute
          left: 0
          top: 7px
        &:hover, &.active
          font-family: "Open Sans Bold"
          color: $color-dark-titles
          text-decoration: none
  .ar-points-data
    position: absolute
    right: 105%
    bottom: 0
    background: $color-attention
    color: $color-light
    width: 250px
    padding: 10px
    display: none
    z-index: 10
    white-space: normal
    .-city
      margin: 0
      font-size: 20px
      line-height: 1.2
      margin-bottom: 10px
      font-family: "Open Sans Bold"
    .-adres
      margin: 0
      font-size: 13px
      line-height: 1.3
  .-points
    background: url(../img/map-point.png) left center no-repeat
    display: inline-block
    height: 32px
    line-height: 32px
    padding-left: 25px
    position: absolute
    margin-left: -9px
    cursor: pointer
    &:hover
      .ar-points-data
        display: block
    &._big
      background: url(../img/map-point-big.png) left center no-repeat
      height: 58px
      line-height: 58px
      padding-left: 40px
      font-size: 18 / $font-size * 1em
      text-transform: uppercase
      margin-left: -18px
    &.-point-1
      bottom: 246px
      left: 114px
    &.-point-2
      bottom: 205px
      left: 140px
    &.-point-3
      bottom: 189px
      left: 163px
    &.-point-4
      bottom: 174px
      left: 92px
    &.-point-5
      bottom: 183px
      left: 231px
    &.-point-6
      bottom: 149px
      left: 144px
    &.-point-7
      bottom: 154px
      left: 237px
    &.-point-8
      bottom: 154px
      left: 59px
    &.-point-9
      bottom: 135px
      left: 201px
    &.-point-10
      bottom: 120px
      left: 91px
    &.-point-11
      bottom: 129px
      left: 247px
    &.-point-12
      bottom: 106px
      left: 182px
    &.-point-13
      bottom: 105px
      left: 322px
    &.-point-14
      bottom: 100px
      left: 468px
    &.-point-15
      bottom: 173px
      left: 701px
    &.-point-16
      bottom: 313px
      left: 796px
    &.-point-17
      bottom: 290px
      right: 25px
      background-position: right bottom
      padding: 0 25px 0 0
    &.-point-18
      bottom: 54px
      left: 834px

.ar-overlay
  position: absolute
  width: 100%
  top: 0
  .contacts
    position: absolute
    top: 80px
    left: 0
    background: $color-light
    padding: 15px 20px
    width: 320px
    .ar-row
      font-size: 17 / $font-size * 1em
      color: lighten($color-text, 25%)
      margin-bottom: 7px
      p
        margin: 0
      .-title
        font-family: "Open Sans Bold"
        color: $color-dark-titles
        margin: 0
      .smaller
        font-size: $font-size * 1px
    .-social
      margin: 10px 0 0
      padding: 0
      list-style-type: none
      & > li
        display: inline-block
        & > a
          display: inline-block
          width: 20px
          height: 20px
          background-image: url(../img/contacts-social-sprite.png)
          background-repeat: no-repeat
          &.fb
            background-position: 0 0
          &.tw
            background-position: -25px 0
          &.go
            background-position: -49px 0
          &.in
            background-position: -73px 0
          &.ba
            background-position: -96px 0

.circle-wrapper
  position: relative
  height: 390px
  .circle
    position: absolute
    width: 371px
    .circle-figure
      width: 371px
      height: 371px
      position: relative
      margin-bottom: -40px
      .c-layout
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        margin: auto
        &.c-layout-1
          background: url(../img/circles/center.png) no-repeat center
          width: 146px
          height: 146px
          text-align: center
          color: #47a3e1
          font-size: 54px
          font-weight: 700
          padding-top: 32px
        &.c-layout-2
          background: url(../img/circles/circle-5.png) no-repeat center
          width: 221px
          height: 221px
        &.c-layout-3
          background: url(../img/circles/circle-4.png) no-repeat center
          width: 371px
          height: 371px
        &.c-layout-4
          background: url(../img/circles/circle-3.png) no-repeat center
          width: 265px
          height: 265px
        &.c-layout-5
          background: url(../img/circles/circle-2.png) no-repeat center
          width: 315px
          height: 315px
        &.c-layout-6
          background: url(../img/circles/circle-1.png) no-repeat center
          width: 371px
          height: 371px
    .circle-capt
      font-weight: 300
      font-size: 24px
      line-height: 1
      text-align: center
      padding: 0 50px
  .circle-1
    top: 0
    left: -59px
  .circle-2
    top: 0
    left: 317px
  .circle-3
    top: 0
    left: 599px
/* end common styles */

/* .header */
.header
  background: #0a609b
  padding-top: 20px
  position: fixed
  width: 100%
  min-width: 980px
  top: 0
  left: 0
  z-index: 20
  .ar-phone
    margin-right: 50px

.ar-main-nav
  margin: 0
  padding: 10px 0 25px
  list-style-type: none
  li
    display: inline-block
    margin-left: 35px
    & > a
      font-family: "Open Sans Bold"
      color: $color-light
      display: inline-block
      &:hover
        text-decoration: none
        margin-bottom: -2px
        border-bottom: 2px solid $color-light
    &.active a
      text-decoration: none
      margin-bottom: -2px
      border-bottom: 2px solid $color-light

.nav > li > a
  padding: 0

.nav > li > a:hover, .nav > li > a:focus
  background: none
/* end .header */

/* .hero */
.hero
  width: 100%
  background: url(../img/first-bg.png) center top no-repeat, url(../img/hero-pattern.png) top left repeat-x
  min-height: 568px
  border-bottom: 1px solid #e0e0e0
  position: relative
  padding-bottom: 60px
  &:after, &:before
    content: ''
    display: block
    width: 0
    height: 0
    position: absolute
    top: 100%
    left: 50%
  &:before
    border-top: 25px solid #e0e0e0
    border-left: 45px solid transparent
    border-right: 45px solid transparent
    margin-left: -45px
  &:after
    border-top: 23px solid #fff
    border-left: 43px solid transparent
    border-right: 43px solid transparent
    margin-left: -43px
  .ar-slogan
    margin: 75px 0 0 -45px
    h1
      font-family: "Open Sans Bold"
      font-size: 48 / $font-size * 1em
      line-height: 42 / 48 * 1em
      color: #fff
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21)
      padding-bottom: 30px
      margin-bottom: 15px
      position: relative
      span
        font-size: 36 / 48 * 1em
      &:after
        content: ''
        display: block
        width: 105px
        height: 2px
        background: $color-light
        position: absolute
        left: 0
        bottom: 0
    p
      color: #337fb5
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.21)
      font-size: 23 / $font-size * 1em
      line-height: 1
      font-family: "Open Sans"
  .ar-get-call-form
    margin-top: 235px
/* end .hero */

/* .footer */
.footer
  background: #0083c9
  margin-top: -5px
  padding: 20px 0
  .ar-phone
    margin-top: 10px
    .-item
      margin-bottom: 7px
      &:after
        display: none
    p
      margin: 0

.ar-social-nav
  margin: 30px 0 0 120px
  padding: 0
  list-style-type: none
  & > li
    display: inline-block
    & > a
      display: inline-block
      width: 28px
      height: 28px
      background: $color-light
      border-radius: 50%
/* end .footer */

#map
  height: 450px